@font-face {font-family: "Meiryo";
    src: url("//db.onlinewebfonts.com/t/704fb797ddcec1f88709024604df2940.eot");
}
@font-face{ font-family: "hirakaku";
    src: url(fonts/hirakakupro-w3.otf);
}
@font-face {
    font-family: "Lato-Light";
    src: url(fonts/Lato-Light.ttf);
}
*{
    overflow: hidden;
    font-family: "Lato-Light";
    font-weight: 200;
    color: rgb(238, 238, 238);

}
html{
    overflow: auto;
    background-image: linear-gradient(rgb(38, 52, 54), rgb(0, 98, 110));
    min-height: 100%;
}
body{
    margin: 0;
}
.red{
    color: red;
}
.black{
    color: black;
}
.wrapper{
    background-color: rgba(0, 0, 0, 0.507);
    width: 720px;
    margin: 60px auto;
    border-radius: 8px;
}
/*--------game---------------------*/
.game{
    width: 610px;
    height: 87px;
    margin: 10px auto;
}
.game .image{
    background: url("../media/dragonquest11-small.jpg") no-repeat;
    width: 500px;
    height: 87px;
    position: absolute;
    
}
.game .image .name{
    margin-left: 192px;
}
.game .image h1{
    font-size: 18px;
    font-weight: 600;
}
.game .cantidad{
    position: relative;
    float: right;
    width: 100px;
    height: 100px;
}
.game input{
    width: 45px;
    height: 40px;
    padding-left: 12px;
    font-size: 20px;
    font-weight: 600;
}
/*-----------------*/
.explanation{
    width: 160px;
    margin: 0 auto;
}
.metodo-pago input, .formato input{
    display: none; 
}
.metodo-pago input[type="radio"]:checked + label{
    background: #0063A4;
    color: #FFF; 
    background-image: url("rdo2.png");
    background-repeat: no-repeat;
}
.formato .fisico input[type="radio"]:checked + label{
    background: #0063A4;
    color: #FFF; 
    background-image: url("fisic0.png");
    background-repeat: no-repeat;
    background-size: 33px;
    background-position-x: 6px;
    background-position-y: 6px;
}
.fisico .label0{
    color: #000;
    border: #dddddd solid 2px;
    border-radius: 5px;
    display: block;
    height: 45px;
    line-height: 45px;
    padding-left: 46px;
    padding-right: 14px;
    cursor: pointer;
    background-color: #ffffff;
    background-image: url("fisic.png");
    background-repeat: no-repeat;
    background-size: 33px;
    background-position-x: 6px;
    background-position-y: 6px;
}
.formato{
    margin-top: 20px;
}
.formato .digital input[type="radio"]:checked + label{
    background: #0063A4;
    color: #FFF; 
    background-image: url("digital0.png");
    background-repeat: no-repeat;
    background-size: 33px;
    background-position-x: 6px;
    background-position-y: 7px;
}
.digital .label0{
    color: #000;
    border: #dddddd solid 2px;
    border-radius: 5px;
    display: block;
    height: 45px;
    line-height: 45px;
    padding-left: 46px;
    padding-right: 14px;
    cursor: pointer;
    background-color: #ffffff;
    background-image: url("digital.png");
    background-repeat: no-repeat;
    background-size: 33px;
    background-position-x: 6px;
    background-position-y: 7px;
    font-weight: 500;
}

.label:hover{
    background-color: #E2EDF9; 
}
.label{
    color: #000;
    border: #dddddd solid 2px;
    border-radius: 5px;
    display: block;
    height: 45px;
    line-height: 45px;
    padding-left: 40px;
    padding-right: 20px;
    cursor: pointer;
    background-color: #ffffff;
    background-image: url("rdo1.png");
    background-repeat: no-repeat;
}
input{
    color: black;
}
/*-------------------------pago-----------------------------------*/

ul li{
    list-style: none;
    margin: 5px;
}
.metodo-pago, .formato{
    margin-bottom: 20px;
}
.metodo-pago ul, .formato ul{
    width: 264px;
    margin: auto;
    padding: 0;

}
.metodo-pago li, .formato li{
    float: left;
    width: 122px;
}

.double-line{
    line-height: 16px;
}
.double-line{
    padding-top: 6px;
    height: 39px;
}
/*-------------------------envío-------------------------------*/

#shipping{
    display: none;      /*cambiar*/
}
#shipping-price{
    display: none;
}
.seleccion-envio{
    width: 530px;
    height: 100px;
    margin: auto;
}
select option{
    color: #000;
}
/*---datos-envio------*/
.datos-envio{
    width: 530px;
    margin: auto;
    line-height: 15px;
}
.seleccion-envio{
    height: 35px;
    margin-bottom: 10px;
}
.seleccion-envio .seleccion0{
    width: 170px;
    position: relative;
    float: left;
}
.seleccion1{
    width: 170px;
    position: relative;
    margin: 0 0 0 180px;
}
.seleccion2{
    width: 170px;
    position: relative;
    float: right;
    margin-top: -35px;
}
.seleccion-envio select{
    width: 170px;
}
/*-------------------tarjeta-----------------------*/
.tarjeta{
    display: none;
}
.deposito{
    display: none;
}
.contenedor{
    width: 500px;
    height: 50px;
    margin: auto;
}
.visa{
    margin-left: 50px;
    width: 230px;
    position: absolute;
}
.master input{
    margin: 15px;
    width: 20px;
    height: 20px;
}
.master{
    position: relative;
    float: right;
    width: 230px;
}
.master label{
    width: 150px;
    height: 50px;
    padding: 12px 12px 12px 68px;
    background: url("../media/master.png") no-repeat;
}
.visa input{
    margin: 15px;
    width: 20px;
    height: 20px;
}
.visa label{
    width: 150px;
    height: 50px;
    padding: 12px 12px 12px 70px;
    background: url("../media/visa.png") no-repeat;
}
/*      */
.deposito p{
    text-align: center;
}
/*------------personales-----------------------------------------*/
.datos{
    margin-top: 10px;
}
.personales{
    width: 530px;
    height: 73px;
    margin: auto;

}
.personales .campo1{
    position: relative;
    float: left;
    width: 260px;
}
.personales .campo2{
    position: relative;
    float: right;
    width: 260px;
}
.personales div{
    line-height: 15px;
}
.personales div input{
    width: 100%;
    height: 22px;
    border-radius: 5px;
    font-family: "hirakaku";
    text-align: center;
}
.personales div label{
    margin: 0 10px 0 0;
    font-size: 16px;
}

/*---------------Tables-------------------------------*/
.envio-type{
    margin: 0 auto 20px;
}
/*-----------------*/

.costos{
    color: #000; 
}

.costos table {
    border-collapse: collapse;
    width: 98%;
    margin: auto;
}

.costos th, .costos td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
/*--------button---------*/
.button{
    width: 200px;
    height: 50px;
    margin: 10px auto;
}
button{
    border-radius: 3px;
    border: none;
    background-color: rgb(0, 120, 175);
    color: white;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}
.cancel{
    width: 250px;
    height: 60px;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 20% 100%, 1% 50%, 20% 0);
    clip-path: polygon(100% 0, 100% 100%, 20% 100%, 1% 50%, 20% 0);       
    background-color: rgb(214, 1, 1);
    margin-left: 15%;
    position: fixed;
    z-index: 100;
    border-radius: 8px;
}
.cancel p{
    height: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    padding: 17px 0 0 15px;
}
.cancel a{
    text-decoration: none;
}
.aviso-digital{
    display: none;
}
.aviso-digital p{
    text-align: center;
}
